Django==3.2.11
django-auth-ldap==4.0.0
django-sass==1.1.0
CherryPy==18.6.1
social-auth-app-django==5.0.0
pyscrypt==1.6.2
pyaes==1.6.1
openpyxl==3.0.9
sshtunnel==0.4.0
psycopg2-binary==2.9.3
RestrictedPython==5.2
cx_Oracle
PyMySQL==1.0.2
sqlparse==0.4.2
pgspecial==1.13.0
